#!/bin/bash 


# To install from console, just use 'sudo chmod +x prerequirements_install.txt'
# And execute with '/.prerequirements_install.txt'

sudo apt-get install libjpeg-dev
sudo apt-get install python-dev
sudo apt-get install libpq-dev
sudo apt-get install postgresql postgresql-contrib
sudo apt-get install python-virtualenv
