Django==1.8.4
Unipath==1.1
argparse==1.2.1
dj-database-url==0.3.0
dj-static==0.0.6
django-datatable-view==0.8.3
django-toolbelt==0.0.1
gunicorn==19.4.1
psycopg2==2.6.1
python-dateutil==2.4.2
six==1.10.0
static3==0.6.1
wheel==0.24.0
whitenoise==2.0.6
wsgiref==0.1.2
