{%extends "base.html"%}
{%block title%}Registro de Cotizacion{%endblock%}
{%block content %}
{%comment%}
{%if user.is_authenticated %}
    {%ifequal user.charge "Vendedor"%}
{%endcomment%}
        <div class="form-group" align="center">
      <div class="row">
         <div class="col-lg-6 col-xs-12 "aling="rigt">
      <ul>
        <a href="/cuentas/vendedor/{{user.username}}">
          <button class="btn" type="button" >Inicio</button>
        </a>    
      </ul>
    </div>
        <div class="col-lg-6 col-xs-12 ">
          <form class="form-horizontal well" id="registro" method="POST">{% csrf_token %}
            <fieldset>
              <legend>Registrar Cotización</legend>
              <div class="control-group">
                <label class="control-label" for="input01">Automovil</label>
                <div class="controls">
                  {{form.automovil}}
                  <p id="help-block" class="help-block">Seleccione el automovil a cotizar</p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="input01">Vendedor</label>
                <div class="controls">
                  {{form.vendedor}}
                  <p id="help-block" class="help-block">Seleccione el vendedor</p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="input01">Cliente</label>
                <div class="controls">
                  {{form.nombre_comprador}}
                  <p id="help-block" class="help-block">Escriba el nombre del cliente</p>
                </div>
              </div>
              <hr />
              <div class="form-actions">
                <button type="submit" class="btn btn-primary">Registrar</button>
                <button type="reset" class="btn">Cancelar</button>
                
              </div>
              </fieldset>
             </form>
            </div>
           </div>
          </div>
          
{%comment%}
    {%else%}
         <h1> No tienes permisos para estar aquí </h1>
    {%endifequal%}
 {%else%}
        <h1> Necesitas ingresar primero</h1>
        <a href="/login/">Ingresar</a>
{%endif%}
{%endcomment%}
{%endblock%}
