{%extends "base.html"%}
{%block title%}Repuesto para Orden de Trabajo{%endblock%}
{%block content%}
<div class="form-group" align="center">
      <div class="row">
        <div class="col-lg-6 col-xs-12 "aling="rigt">
      <ul>
        <a href="/cuentas/Jefetaller/{{user.username}}">
          <button class="btn" type="button" >Inicio</button>
        </a>  
      </ul>
    </div>
        <div class="col-lg-6 col-xs-12 ">
          <form class="form-horizontal well" id="registro" method="POST">{% csrf_token %}
            <fieldset>
              <legend>Asignar repuesto</legend>
              <div class="control-group">
                <label class="control-label" for="input01">Orden</label>
                <div class="controls">
                  {{form.orden}}
                  <p id="help-block" class="help-block">Seleccione la orden</p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="input01">Repuesto</label>
                <div class="controls">
                  {{form.repuesto}}
                  <p id="help-block" class="help-block">Escriba el repuesto</p>
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-primary">Registrar</button>
                <button type="reset" class="btn">Cancelar</button>
              </div>
              </fieldset>
             </form>
            </div>
           </div>
          </div>

{%endblock%}
