{%extends "base.html"%}
{%block title%}Registro de Orden de Trabajo{% endblock %}
{%block content%}
{%comment%}
{%if user.is_authenticated %}
    {%ifequal user.charge "Vendedor"%}
{%endcomment%}
    <div class="form-group" align="center">
      <div class="row">
        <div class="col-lg-6 col-xs-12 ">
          <form class="form-horizontal well" id="registro" method="POST">{% csrf_token %}
            <fieldset>
              <legend>Registrar orden de trabajo</legend>
              <div class="control-group">
                <label class="control-label" for="input01">Mecánico</label>
                <div class="controls">
                  {{form.mecanico_asignado}}
                  <p id="help-block" class="help-block">Seleccione el mecánico</p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="input01">Descripción</label>
                <div class="controls">
                  {{form.descripcion}}
                  <p id="help-block" class="help-block">Escriba una descripción de la orden</p>
                </div>
              </div>
              <hr />
              <div class="control-group">
                <label class="control-label" for="input01">Matrícula vehículo</label>
                <div class="controls">
                  {{form.matricula_vehiculo}}
                  <p id="help-block" class="help-block">Inserte la matrícula del vehículo a revisar</p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="input01">Jefe taller</label>
                <div class="controls">
                  {{form.jefe_taller}}
                  <p id="help-block" class="help-block">Seleccione el jefe de taller encargado</p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="input01">Estado</label>
                <div class="controls">
                  {{form.estado}}
                  <p id="help-block" class="help-block">Seleccione el estado de la orden</p>
                </div>
              </div>
              <hr />
              <div class="form-actions">
                <button type="submit" class="btn btn-primary">Registrar</button>
                <button type="reset" class="btn">Cancelar</button>
              </div>
              </fieldset>
             </form>
            </div>
           </div>
          </div>
{%comment%}
    {%else%}
         <h1> No tienes permisos para estara aquí </h1>
    {%endifequal%}
 {%else%}
        <h1> Debes iniciar sesión primero</h1>
{%endif%}
{%endcomment%}
{%endblock%}