{%extends "base.html"%}
{%block title%}Registro de Automovil{% endblock %}
{%block content%}
    {% if user.is_authenticated %}
         {%ifequal user.charge "Gerente"%}
            <form>
                {%csrf_token%}
                {{form.as_ul}}
                <input type='submit' value='Registrar'>
            </form>
        {%else%}
             <h1> No tienes permisos para estar aquí </h1>
        {%endifequal%}
    {%else%}
          <h1> Debes iniciar sesión primero </h1>
          <a href="/login/">Ingresar</a>
    {%endif%}
{%endblock%}