{% if user.is_authenticated %}
<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        {%ifequal user.charge "Gerente" %}
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <i class="fa fa-circle text-success"></i> </a>
            </div>
            <div class="pull-left info">
              <p>{{user.username}}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li>
              <a href="/cuentas/Gerente/{{user.username}}">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                
              </a>
            </li>
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-th"></i> <span>Usuarios</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li class="active"><a href="/registrar/"><i class="fa fa-user"></i> Registrar Usuario </a></li>
                <li><a href="/usuarios/busqueda/"><i class="fa fa-users"></i> Buscar Usuarios</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-car"></i>
                <span>Autos</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/inventario/automovil/registro/"><i class="fa fa-car"></i> Registrar Autos</a></li>
                <li><a href="/inventario/autmovil/buscar/"><i class="fa fa-car"></i> Buscar Autos</a></li>
                
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-gear"></i>
                <span>Repuestos</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/inventario/repuesto/registro/"><i class="fa fa-gear"></i> Registrar Repuestos</a></li>
                <li><a href="/inventario/repuesto/buscar/"><i class="fa fa-gear"></i> Buscar Repuestos</a></li>
                
              </ul>
            </li>
            
          </ul>
        </section>
        {% endifequal %}
        {%ifequal user.charge "Vendedor" %}
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <i class="fa fa-circle text-success"></i> </a>
            </div>
            <div class="pull-left info">
              <p>{{user.username}}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li>
              <a href="/cuentas/Vendedor/{{user.username}}">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                
              </a>
            </li>
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-money"></i> <span>Ventas</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li class="active"><a href="/venta/registro/"><i class="fa fa-money"></i> Registrar Venta </a></li>
                <li><a href="/cotizacion/registro/"><i class="fa  fa-pencil-square-o"></i> Registrar Cotizacion</a></li>
              </ul>
            </li>
            
          </ul>
        </section>
        {% endifequal %}
        {%ifequal user.charge "Jefe Taller" %}
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <i class="fa fa-circle text-success"></i> </a>
            </div>
            <div class="pull-left info">
              <p>{{user.username}}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li>
              <a href="/cuentas/Jefetaller/{{user.username}}">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                
              </a>
            </li>
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-industry"></i> <span>Ordenes de trabajo</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li class="active"><a href="/ordenes_trabajo/registro/"><i class="glyphicon glyphicon-pushpin"></i> Registrar orden de trabajo </a></li>
                 <li><a href="/ordenes_trabajo/buscar/"><i class="fa fa-gear"></i> Buscar Repuestos</a></li>
                <li><a href="/ordenes_trabajo/repuesto/"><i class="fa fa-wrench"></i> Autorizar Repuesto</a></li>
              </ul>
            </li>
            
          </ul>
        </section>
        {% endifequal %}
        <!--aqui van los otros ifequal-->
        <!-- /.sidebar -->
      </aside>
      {% else %}

{%endif%}