<div class="box box-solid bg-red">
 <div class="box-header">
                  <i class="fa fa-th"></i>
                  <h3 class="box-title">Calendario</h3>
                  <div class="box-tools pull-right">
                    <button class="btn bg-red btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn bg-red btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
            <div class="box-body border-radius-none">
                  <iframe src="https://calendar.google.com/calendar/embed?src=concesionario.www%40gmail.com&ctz=America/Bogota" style="border: 0" width="570" height="400" frameborder="0" scrolling="no"></iframe>
            </div>
            
</div>