{%extends "base.html"%}
{%block title%}Editar Perfil{%endblock%}
{%block content%}
{%if user.is_authenticated %}
       <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h5>
            {% include "includes/show_messages.html" %}
          </h5>
          <ol class="breadcrumb">
            <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
            
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
        <div class="row">
        <div class="col-lg-6 col-xs-12 ">
          <form class="form-horizontal well" id="registro" method="POST">{% csrf_token %}
            <fieldset>
              <legend>Editar Perfil</legend>
              
              <div class="control-group">
                <label class="control-label" for="input01">Telefono</label>
                <div class="controls">
                  {{form.phone_number}}
                  <p id="help-block" class="help-block">Coloque el nuevo telefono</p>
                </div>
              
              <div class="control-group">
                <label class="control-label" for="input01">Direcion</label>
                <div class="controls">
                  {{form.address}}
                  <p id="help-block" class="help-block">Coloque la nueva Direccion</p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="input01">Email</label>
                <div class="controls">
                  {{form.email}}
                  <p id="help-block" class="help-block">Coloque el nuevo email</p>
                </div>
              </div>
              
              <hr />
              <div class="form-actions">
                <button type="submit" class="btn btn-primary">Actualizar perfil</button>
                <button type="reset" class="btn">Cancelar</button>
              </div>
              </fieldset>
              <a href="/accounts/password_change/">
          <button class="btn" type="button" >Cambiar contrasena</button>
        </a>   
         </form>
        </div>
      </div>
    </section>
    </div>
           

 {%else%}
        <h1> Debes iniciar sesión primero</h1>
{%endif%}

{%endblock%}
