{% extends "base.html" %}

{%block title%}INICIO VENDEDOR{% endblock%}
{%block content %}
   {% if user.is_authenticated %}
        {%ifequal user.charge "Vendedor"%}
            <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1> Bienvenido, {{ user.username }} </h1>
          <ol class="breadcrumb">
            <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
            
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
        <div class="row">
        </div>
      </section>
    </div>
            
            
        {%else%}
            <h1> No tienes permisos para estar aquí </h1>
        {%endifequal%}
    {%else%}
         <h1> Debes iniciar sesión primero </h1>
          <a href="/login/">Ingresar</a>
   {%endif%}
{% endblock%}
