{% extends "base.html" %}

{%block title%}INICIO JEFE TALLER{% endblock%}
{%block content %}
   {% if user.is_authenticated %}
        {%ifequal user.charge "Jefe Taller"%}
            <h1> Bienvenido, {{ user.username }} </h1>
            <div class="col-lg-6 col-xs-12 "aling="rigt">
      <ul>
        <a href="/ordenes_trabajo/registro/">
          <button class="btn" type="button" >Registrar orden de trabajo</button>
        </a>
        <a href="/ordenes_trabajo/repuesto/">
          <button class="btn" type="button" >Repuesto</button>
        </a>     
      </ul>
    </div>
        {%else%}
            <h1> No tienes permisos para estar aquí {{user.charge}}</h1>
        {%endifequal%}
    {%else%}
         <h1> Debes iniciar sesión primero </h1>
          <a href="/login/">Ingresar</a>
   {%endif%}
{% endblock%}
