{% extends "base.html" %}
 
{% block title %}Inicio{% endblock %}
 
{% block content %}
  {% if user.is_authenticated %}
    <h1> Bienvenido, {{ user.username }} </h1>
      <a href="/salir/">LogOut</a>
  {%else %}
       <div class="container">
      <form class="form-signin" method="POST"> 
        {% csrf_token %}
        <h2 class="form-signin-heading" align="center">Inicio de Sesión</h2>
        {{ form.as_p }}
        <div class="checkbox">
          <label>
            <input type="checkbox" value="Recordarme"> Recordarme
          </label>
        </div>
        <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
      </form>
    </div> <!-- /container -->
  {%endif %}
<script>
    //For getting CSRF token
function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
               var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
             }
          }
      }
 return cookieValue;
}


//For doing AJAX post

//When submit is clicked
 $("#submit").click(function(e) {

      //Prevent default submit. Must for Ajax post.Beginner's pit.
       e.preventDefault();

      //Prepare csrf token
       var csrftoken = getCookie('csrftoken');


      //Collect data from fields
       var username = $('#usernameInput').val();
       //var password = $('#inputPassword').val();

      //This is the Ajax post.Observe carefully. It is nothing but details of where_to_post,what_to_post
      //Send data  
       $.ajax({
             url : window.location.href, // the endpoint,commonly same url
             type : "POST", // http method
             data : { csrfmiddlewaretoken : csrftoken, username : username}, // data sent with the post request

             // handle a successful response
             success : function(json) {
               console.log(json); // another sanity check
               //On success show the data posted to server as a message
               alert('Hi   '+json['username'] +'!.' + '  You have succesfully logged in:');
             },

             // handle a non-successful response
             error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
             }
            });
});
</script> 
{% endblock %}
