{% extends "base.html" %}
 
{% block title %}Inicio{% endblock %}
 
{% block content %}
  {% if user.is_authenticated %}
    <div class="content-wrapper" style="min-height: 1096px;">
      <section class="content-header">
        <h1>Bienvenido {{user.username}}, su sesion esta iniciada</h1>
        <li class="header"><a href="/cuentas/{{user.charge}}/{{user.username}}"><i class="fa fa-circle-o text-red"></i> <span>Inicio</span></a></li>
      </section>
      
    </div>
  {%else %}
      <section></section>
      <div class="content-wrapper" style="min-height: 1096px;">
      <div class="login-box">
      <div class="login-logo">
      <h5>
          {% include "includes/show_messages.html" %}
      </h5>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form  method="post">{% csrf_token %}
          <div class="form-group has-feedback">
            {{ form.username }}
            
          </div>
          <div class="form-group has-feedback">
            {{ form.password }}
            
          </div>
          <div class="row">
            <div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox"> Remember Me
                </label>
              </div>
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div><!-- /.col -->
          </div>
        </form>

        <!-- /.social-auth-links -->

        

      </div><!-- /.login-box-body -->
    </div>
  </div>
  {%endif %}

{% endblock %}
