{%extends "base.html"%}
{%block title%}Editar Contraseña{%endblock%}
{%block content%}
{%if user.is_authenticated %}
{%if form.errors %}
<p>Cambio de contraseña no exitoso</p>
{%endif%}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h5>
            {% include "includes/show_messages.html" %}
          </h5>
          <ol class="breadcrumb">
            <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
            
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
        <div class="box box-default">
        <div class="box-header with-border">
        <h3>Editar contraseña</h3>
        </div>
        <div class="box-body">
        <div class="row">
        <form method="POST" action="/password_change_done/">
        <div class="col-md-6">
            {% csrf_token %}
            {{form.as_p}}
            <input type = "submit" value="Cambiar" class="btn btn-primary">
        </div>
        </form>

</div>
</div>
</div>
</section>
</div>

 {%else%}
        <h1> Debes iniciar sesión primero</h1>
{%endif%}

{%endblock%}
