{% extends "base.html" %}
{% block content %}
Contraseña editada exitosamente.
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
         <h5>
          {% include "includes/show_messages.html" %}
      </h5>
        <section class="content-header">
          <h1> Contraseña cambiada</h1>
          <ol class="breadcrumb">
            <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
            
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
        <div class="row">
         <div class="col-md-4">
            {%ifequal user.charge "Gerente" %}
            <a href="/cuentas/Gerente/{{ user.username}}">Inicio</a>
            {% endifequal %}
        {%ifequal user.charge "Vendedor" %}
        <a href="/cuentas/Vendedor/{{ user.username}}">Inicio</a>
        {% endifequal %}
        {%ifequal user.charge "Jefe Taller" %}
        <a href="/cuentas/Jefetaller/{{ user.username}}">Inicio</a>
        {% endifequal %}
        </div>
        </div>
      </section>
    </div>
{% endblock %}
