{%load staticfiles%}
<div class="box box-solid bg-teal-gradient" >
                <div class="box-header">
                  <i class="fa fa-th"></i>
                  <h3 class="box-title">Reporte Ventas</h3>
                  <div class="box-tools pull-right">
                    <button class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body border-radius-none">
                  <div class="chart" id="chart" style="height: 400px;"></div>
                </div><!-- /.box-body -->
            <script type="text/javascript">
                var MESES = {{meses|safe}};
                var SUCURSALES = {{sucursales|safe}};
                var VENTAS_SUCURSALES = {{ventas_sucursales|safe}};
                //console.log(VENTAS_SUCURSALES[0]);
                //alert(VENTAS_SUCURSALES["Suroriente"]);
                var series_vals = [];
                var mes = function(m){
                    ls1 = [ 
                          "Enero" ,
                          "Febrero",
                          "Marzo",
                          "Abril",
                          "Mayo",
                          "Junio",
                          "Julio",
                          "Agosto",
                          "Septiembre",
                          "Octubre",
                          "Noviembre",
                          "Diciembre",
                        ];
                    ls2 = new Array();
                    ls2["Enero"] = 1;
                    ls2["Febrero"] = 2;
                    ls2["Marzo"] = 3;
                    ls2["Abril"] = 4;
                    ls2["Mayo"] = 5;
                    ls2["Junio"] = 6;
                    ls2["Julio"] = 7;
                    ls2["Agosto"] = 8;
                    ls2["Septiembre"] = 9;
                    ls2["Octubre"] = 10;
                    ls2["Noviembre"] = 11;
                    ls2["Diciembre"] = 12;
                    if(typeof m == typeof 4){
                        return ls1[m];
                    }else{
                        if(typeof m == typeof "4"){
                            return ls2[m];
                        }
                    }

                };

             

               

                
                var ordenar_datos_ventas = function(arrSucursal){
                    //alert(arrSucursal);
                    var data = [0,0,0,0,0,0,0,0,0,0,0,0];
                    var fechas_data = []
                    var fecha_actual = new Date();
                    var mes_actual = fecha_actual.getMonth();
                    var ano_actual = fecha_actual.getYear();
                    var cantidad_meses_ano_anterior = 12 - mes_actual;
                    /*m = 0;
                    for (var i = mes_actual + 1; i <= cantidad_meses_ano_anterior; i++) {
                        fechas_data.push((fecha_actual.getYear()-1) + "-" + i);
                      //  m++;
                    };
                    for (var i = 1; i <= mes_actual; i++) {
                        
                    };*/
                    meses_num = []
                    for (var i = 0; i < 12; i++) {
                        meses_num.push(mes(MESES[i]))
                    };
                    //var k = 0;
                    for (var clave in arrSucursal) {
                        var fecha_ = arrSucursal[clave]["fecha"]
                        var sum_ventas = 0;
                        for (var i = 0; i < arrSucursal.length; i++) {
                            if(arrSucursal[i]["fecha"] == fecha_){
                                sum_ventas += arrSucursal[i]["num_ventas"]
                            }
                        };
                        k = meses_num.indexOf(parseInt(fecha_.split('-')[1]))
                        data[k] = sum_ventas;
                        //k++;
                    };

                    return data;

                };
                
                var generar_valores_series = function(){
                    k = 0;
                    series_vals = []
                    for (var i = SUCURSALES.length - 1; i >= 0; i--) {
                        series_vals.push({name: SUCURSALES[i], 
                            data: ordenar_datos_ventas(VENTAS_SUCURSALES[SUCURSALES[i]])})
                    k++;
                    };
                };

                generar_valores_series();

            </script>
            <script src="{% static 'static/js/highcharts.js' %}"></script>

            <script type="text/javascript" >
                        $(function () {
                            $('#chart').highcharts({
                            chart: {
                                type: 'line'
                            },
                            title: {
                                text: 'Ventas por Sucursal de los Ultimos 12 Meses'
                            },
                            xAxis: {
                                categories:  MESES
                            },
                            yAxis: {
                                title: {
                                    text: 'Cantidad de vehiculos'
                            }
                            },
                            series: series_vals
                            });
                        });
            </script>
</div>