{%load staticfiles%}
<div class="box box-solid bg-teal-gradient" >
                <div class="box-header">
                  <i class="fa fa-th"></i>
                  <h3 class="box-title">Reporte Ventas</h3>
                  <div class="box-tools pull-right">
                    <button class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body border-radius-none">
                  <div class="chart" id="chart" style="height: 300px;"></div>
                </div><!-- /.box-body -->
            <script type="text/javascript">
                var MESES = {{meses|safe}};
                //widget.init(MESES);
            </script>
            <script src="{% static 'static/js/highcharts.js' %}"></script>

            <script type="text/javascript" >
                        $(function () {
                            $('#chart').highcharts({
                            chart: {
                                type: 'bar'
                            },
                            title: {
                                text: 'Ventas Mensuales'
                            },
                            xAxis: {
                                categories:  MESES
                            },
                            yAxis: {
                                title: {
                                    text: 'numbers'
                            }
                            },
                            series: [{
                                name: 'John',
                                data: [1, 0, 4]
                                }, {
                                name: 'King',
                                data: [5, 7, 3]
                                }]
                            });
                        });
            </script>
</div>