{%extends "base.html"%}
{% load staticfiles %}
{%block title%}Lista Empleados{%endblock%}
{%block content%}
{%comment%}
{%if user.is_authenticated %}
{%endcomment%}
    <div class="search_section">
         {{form.search_field}}
           <p>(Requires {{ MIN_SEARCH_CHARS|floatformat:"0" }} or more characters)</p>
          <div id="user_search_results"></div>
    </div>
      <div class="content_section">
      {% if  user.count == 0 %}
         <p><i>There are no users in database.</i></p>
      {% else %}
         <table>
              
            {% for  user in users %} {# No colon after "colors" #}
               {%include "user_search_results.html"%}
            {% endfor %}
         </table>
      {% endif %}
  </div>
   
 {%comment%}
 {%else%}
        <h1> Debes iniciar sesión primero</h1>
{%endif%}
{%endcomment%}
{%endblock%}
   <script language="javascript">
      var MIN_SEARCH_CHARS = {{ MIN_SEARCH_CHARS }};
   </script>
   <script type='text/javascript' src="{% static 'js/search_users.js' %}">
   </script>

