{%extends "base.html"%}
{% load staticfiles %}
{%block title%}Lista Empleados{%endblock%}
{%block content%}

{%if user.is_authenticated %}
{% ifequal user.charge "Gerente"%}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Bienvenido
            <small>Concesionario</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
            
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
        <div class="row">
          <div class="col-md-6">

	
    <div class="search_section">
         <form>
         Buscar: <input type='text' id='searchTextInput' name='search_text' maxlength="200">
           <p>(Requires {{ MIN_SEARCH_CHARS|floatformat:'0' }} or more characters)</p>
           </form>
          <div id="user_search_results"></div>
         </div>
      <div class="content_section">
      {% if  users.count == 0 %}
         <p><i>There are no users in database.</i></p>
      {% else %}
         <table>
            {% for  u in users %}
                   {%include "user_search_results.html"%}
            {% endfor %}
         </table>
      {% endif %}
   </div>
   </div>
 </div>
</section>
</div>

   <script language="javascript">
      var MIN_SEARCH_CHARS = {{ MIN_SEARCH_CHARS }};
      var SUBMIT_URL =  "/usuarios/busqueda/resultados/";
   </script>
        <script type='text/javascript' src ="{% static 'js/underscore-1.8/underscore-min.js' %}" ></script>
    <!--<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>-->
   <script type='text/javascript' src="{% static 'js/search_users.js' %}"></script>
   {%else%}
       <h1> No tienes permisos para estar aqui</h1>
 {%endifequal%}
 {%else%}
        <h1> Debes iniciar sesión primero</h1>
{%endif%}

{%endblock%}
